# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
.classpath
.project

# Logs
logs/
*.log
log/

# OS
.DS_Store
Thumbs.db

# Application
uploads/
*.db

# Environment
#.env
#.env.local
