# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
.expo-shared/

# Native builds
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env*.local
.env
.env.test
.env.production

# Firebase credentials (sensitive)
android/app/google-services.json
ios/GoogleService-Info.plist

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# Android
android/app/build/
android/.gradle/
android/build/
android/local.properties
*.apk
*.aab

# iOS
ios/Pods/
ios/build/
ios/DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# FastLane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Watchman
.watchmanconfig

# Buck
.buckd/
buck-out/

# Temporary files
*.tmp
*.temp
*.log

